@import '../../../assets/scss/variables';
input,input:focus {
	border: none;
    background-color: #363636;
    color:$white;
    outline: none;
	-webkit-box-shadow: inset 0 1px 1px #000, 0 1px 0 0 #a5a5a5;
	box-shadow: inset 0 1px 1px #000, 0 1px 0 0 #a5a5a5;
  }
.signup-modal{
    max-width: $modal-width;    
}
.signup-modal-content{
    background: -webkit-radial-gradient(ellipse at top,#363636,#0D0D0D);
	background: radial-gradient(ellipse at top,#363636,#0D0D0D);
    //background-color:$dark-color;
    color:$white; 
}
.signup-modal-body{
    padding-left: 50px;
}
.signup-btn{
    background-color: $accent-color;
}
