<!-- Button trigger modal -->
<button type="button" class="btn btn-primary signin-button" data-toggle="modal" data-target=".sign-up-modal">SIGN
  UP</button>


<div class="modal fade bd-example-modal-lg sign-up-modal" tabindex="-1" role="dialog"
  aria-labelledby="mySingUpModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="left">
        <div class="art"></div>
      </div>
      <div class="right">
        <div class="right-content-signup">
          <div class="FolloIcon"></div>
          <form>
            <div class="form-group">
              <h5>Join us</h5>
              <p>Start follo-ing to create, join community, post your views.</p>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="txtFirstname">First Name</label>
                <input type="text" class="form-control" id="txtFirstname" placeholder="First name">
              </div>
              <div class="form-group col-md-6">
                <label for="txtLastname">Last Name</label>
                <input type="text" class="form-control" id="txtLastname" placeholder="Last name">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="txtUsername">Username</label>
                <input type="text" class="form-control" id="txtUsername" placeholder="Username">
              </div>
              <div class="form-group col-md-6">
                <label for="txtEmail">Email</label>
                <input type="email" class="form-control" id="txtEmail" placeholder="Email">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="txtPassword">Password</label>
                <input type="password" class="form-control" id="txtPassword" placeholder="Password">
              </div>
              <div class="form-group col-md-6">
                <label for="txtCPassword"> Confirm Password</label>
                <input type="password" class="form-control" id="txtCPassword" placeholder="Confirm Password">
              </div>
            </div>
            <br>
            <button type="submit" class="btn btn-primary signup-btn">Sign up</button>
          </form>
          <div class="login-bottom-text">
            Already Follo-ing? <a class="BottomLink" href="#">Sign in</a>
          </div>
        </div>
        <button type="button" class="close login-modal-close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
</div>
