<nav class="navbar sticky-top navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img src="assets/images/f3.png" width="20" height="30" class="d-inline-block align-top" alt="">
      &nbsp;follo
    </a>
    <form class="form-inline width-45">
        <input class="form-control mr-sm-2 width-80" type="search" placeholder="Search" aria-label="Search">
        <button class="btn my-2 my-sm-0 custom-btn" type="submit"> 
            <i class="fas fa-search"></i>
        </button>
    </form>
    <div>
        <button class="btn btn-sm btn-outline-secondary custom-btn" type="button">Login</button>&nbsp;
        <signup></signup>
    </div>
</nav>
<nav class="navbar navbar-dark bg-dark custom-nav d-flex justify-content-center">
    <div>
        <button class="btn btn-lg custom-btn" type="button">Discover</button>&nbsp;
        <button class="btn btn-lg custom-btn" type="button">Personal</button>&nbsp;
    </div>
</nav>
