<nav class="navbar fixed-top navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="assets/images/f4.png" width="20" height="30" class="d-inline-block align-top" alt="">
    &nbsp;follo
  </a>
  <form class="form-inline search-div input-group">
    <span class="input-group-prepend">
      <div class="input-group-text bg-color border-right-0"><i class="fa fa-search"></i></div>
    </span>
    <input class="form-control py-2 border-left-0 border" type="search" placeholder="Search" aria-label="Search">
  </form>
  <div *ngIf="!isLoggedIn">
    <button type="button" class="btn btn-outline-primary app-button" data-toggle="modal"
      data-target=".bd-example-modal-lg" [routerLink]="[ '/login' ]" data-backdrop="static" data-keyboard="false">LOG
      IN</button>
    <button type="button" class="btn btn-primary app-button" data-toggle="modal" data-target=".sign-up-modal"
      data-backdrop="static" data-keyboard="false" [routerLink]="[ '/signup' ]">SIGN
      UP</button>
  </div>
  <div *ngIf="isLoggedIn">
    <span>Welcome Username</span>
  </div>
</nav>
