<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Large
  modal</button>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="row">
        <div class="col-md-3">
          <div>
            <img class="signin-modal-img"
              src="https://www.redditstatic.com/accountmanager/bbb584033aa89e39bad69436c504c9bd.png" />
          </div>
        </div>
        <div class="col-md-9">
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <form>
              <div class="form-group">
                <h5>LOGO</h5>
              </div>
              <div class="form-group">
                <h5>Sign in</h5>
              </div>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Username</label>
                <input type="text" class="form-control" id="recipient-name">
              </div>
              <div class="form-group">
                <label for="message-text" class="col-form-label">Password</label>
                <input type="password" class="form-control" id="message-text" />
              </div>
            </form>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
