<div class="row">
  <div class="col-sm-9">
    <div class="card">
      <h5 class="card-header"><img src="../../../assets/images/create-post-header.jpg"></h5>
      <div class="card-body">
        <h5 class="card-title">Create Post</h5>
        <hr>
        <form [formGroup]="createPostForm">
          <div class="form-group">
            <label>Post Title</label>
            <input type="text" class="form-control" name="posttitle" formControlName="posttitle" aria-describedby="emailHelp" placeholder="Enter post title">
            <small id="emailHelp" class="form-text text-muted">This will be added to the community.</small>
          </div>
          <div class="form-group">
            <label>Description</label>
            <textarea class="form-control" rows="4" name="postdesc" formControlName="postdesc" placeholder="Tell about this post in few word"></textarea>
          </div>
          <a type="submit" class="btn btn-primary app-button" (click)="addPost()">CREATE</a>
        </form>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <h5 class="card-header"><img src="../../../assets/images/rightbar-header.png"></h5>
      <div class="card-body">
        <h5 class="card-title">Create Post</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis quibusdam iste assumenda a atque, laborum
          culpa sequi nesciunt ad eos, dolor nulla! Laborum, velit alias rerum deserunt commodi distinctio officia?</p>
      </div>
    </div>
  </div>
</div>
