<!-- <div class="row "> -->
<div class="col-sm-2 fixed">
  <div class="card">
    <h5 class="card-header">Featured Filters</h5>
    <div class="card-body">
      <a href="#">Hot</a>
      <a href="#">New</a>
    </div>
  </div>
  <div class="card community">
    <h5 class="card-header ">Communities</h5>
    <ul class="list-group list-group-flush scrollable">
      <li class="list-group-item" *ngFor='let favComm of favCommunities'><a
          [routerLink]="[ '/viewcommunity', favComm.communityName ]">{{favComm.communityName}}</a>
      </li>
      <li class="list-group-item"><a href="#">Dapibus ac facilisis in asdnsajdlksajdlkajdjlasjdlaksjdl</a></li>
      <li class="list-group-item"><a href="#">Dapibus ac facilisis in asdnsajdlksajdlkajdjlasjdlaksjdl</a></li>
      <li class="list-group-item"><a href="#">Dapibus ac facilisis in asdnsajdlksajdlkajdjlasjdlaksjdl</a></li>
      <li class="list-group-item"><a href="#">Dapibus ac facilisis in asdnsajdlksajdlkajdjlasjdlaksjdl</a></li>
      <li class="list-group-item"><a href="#">Dapibus ac facilisis in asdnsajdlksajdlkajdjlasjdlaksjdl</a></li>
      <li class="list-group-item"><a href="#">Dapibus ac facilisis in asdnsajdlksajdlkajdjlasjdlaksjdl</a></li>
      <li class="list-group-item"><a href="#">Dapibus ac facilisis in asdnsajdlksajdlkajdjlasjdlaksjdl</a></li>
      <li class="list-group-item"><a href="#">Dapibus ac facilisis in asdnsajdlksajdlkajdjlasjdlaksjdl</a></li>
      <li class="list-group-item"><a href="#">Dapibus ac facilisis in asdnsajdlksajdlkajdjlasjdlaksjdl</a></li>
      <li class="list-group-item"><a href="#">Vestibulum at eros</a></li>
    </ul>
  </div>
</div>
<!-- </div> -->
