<div class="row ">
  <div class="col-sm-2 fixed">
    <div class="card">
      <h5 class="card-header">Featured Filters</h5>
      <div class="card-body">
        <a href="#">Hot</a>
        <a href="#">New</a>
      </div>
    </div>
    <div class="card community">
      <h5 class="card-header ">Communities</h5>
      <div class="card-body scrollable">
        <a href="#">Communities</a>
        <a href="#">Comm1</a>
        <a href="#">Comm2</a>
        <a href="#">Comm3</a>
        <a href="#">Communities</a>
        <a href="#">Comm1</a>
        <a href="#">Comm2</a>
        <a href="#">Comm3</a>
        <a href="#">Communities</a>
        <a href="#">Comm1</a>
        <a href="#">Comm2</a>
        <a href="#">Comm3</a>
      </div>
    </div>
  </div>
</div>
