@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';
.left-sidebar {
    height: 100%;
    width: 200px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 120px; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    -webkit-box-shadow: 3px 0px 4px 0px rgba(204,204,204,1);
-moz-box-shadow: 3px 0px 4px 0px rgba(204,204,204,1);
box-shadow: 3px 0px 4px 0px rgba(204,204,204,1);
  }
  
  /* The navigation menu links */
  .left-sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .left-sidebar a:hover {
    color: $accent-color;
  }
  
  /* Style page content */
  .main {
    margin-left: 200px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .left-sidebar {padding-top: 15px;}
    .left-sidebar a {font-size: 18px;}
  }