<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand">
    <img src="https://www.redditstatic.com/accountmanager/18e257d5fdea817c0f12cccf8867d930.svg">Follo</a>
  <div class="form-inline search-div input-group">
    <span class="input-group-prepend">
      <div class="input-group-text bg-color border-right-0"><i class="fa fa-search"></i></div>
    </span>
    <input class="form-control py-2 border-left-0 border" type="search" placeholder="Search" aria-label="Search">
  </div>
  <app-signin></app-signin>
</nav>
